*{
    margin:0 auto;
    padding:0;
    list-style: none;
    font-family : "Noto Sans KR";
    text-align : center;
}

.header{
    width: 80vw;
    height:10vh;
    background-color: burlywood;
}

.projects{
    width:80vw;
    height:300px;
    padding-top : 10px;
    padding-bottom :10px;
    background-color: antiquewhite;
}

.container{
    width : 100%;
    height: 100%;
}
.project{
    float: left;
    width : 200px;
    height : 100%;
    margin : 0 30px 0 30px;
}

.project-add{
    float: left;
    width : 200px;
    height : 100%;
}

.submenu {
    width : 100%;
    height : 50px;
    margin : 40px 0 10px 0;
}

.submenu > ul >li {
    float :left;
    width : 60px;
    height : 50px;
    margin : 0 10px 0 0; 
    border-radius: 50%;
    background-color: chartreuse;
}

.submenu > ul >li:hover {
    float :left;
    width : 60px;
    height : 50px;
    margin : 0 10px 0 0; 
    border-radius: 50%;
    background-color: red;
    
}

@keyframes submenuFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.submenu >ul >li:last-child {
    margin: 0 0 0 0;
}

.main {
    width :200px;
    height :200px;
    border-radius: 50%;
    background-color: cornsilk;
}

.addButton {
    width :200px;
    height : 200px;
    margin-top: 100px;
    border-radius: 50%;
    background-color: cornsilk;
}